@font-face {
  font-family: gilroybold;
  src: url("../../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: gilroymedium;
  src: url("../../fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: gilroyregular;
  src: url("../../fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: rubikbold;
  src: url("../../fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: rubikregular;
  src: url("../../fonts/Rubik-Regular.ttf");
}
