@mixin flex($js: center, $ai: center, $fd: row) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
  flex-direction: $fd;
}
@mixin content {
  .content {
    .text-48{
      max-width: 375px;
    }
    .text-19 {
      max-width: 23.438rem;
      margin-top: 0.938rem;
      color: #161c2d;
      opacity: 0.7;
      letter-spacing: -0.2px;
    }
    .box {
      margin-right: 2.25rem;
      margin-top: 3.125rem;
      .text-21 {
        font-family: gilroybold;
      }
      .text-17 {
        margin-top: 0.688rem;
        max-width: 21.188rem;
        font-family: gilroyregular;
        line-height: 29px;
        color: #161c2d;
        opacity: 0.7;
        letter-spacing: -0.2px;
      }
    }
  }
}
